@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
}

body {
  color: rgb(var(--black));
  background: rgb(var(--white));
  overflow-x: hidden;
}